.about {
  height: auto;
  width: 750px;
  margin: auto;
  position: relative;
}

#aboutContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

.techs {
  width: 500px;
  float: left;
  column-count: 2;
  margin-top: 0;
}

.techs li {
  line-height: 22px;
}

.circle {
  position: absolute;
}

#purpleCircle {
  top: -45px;
  left: -175px;
}
