.experience {
  width: 1000px;
  height: auto;
  border: 2px solid rgba(71, 84, 201, 0.8);
  box-sizing: border-box;
  border-radius: 154px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.custom-padding {
  padding: 3.5% 0 !important;
}

.experience .section-title {
  margin-top: 4%;
}

.tab-content {
  margin-left: 30px;
}

.nav-item a {
  padding-left: 40px !important;
  border-radius: 0 !important;
  background-color: rgba(230, 230, 230, 0.37);
  border-left: 2px solid #cacaca !important;
  box-sizing: border-box;
  color: #565656 !important;
  cursor: pointer;
}

.nav-item a.active {
  background-color: rgba(230, 230, 230, 0.37) !important;
  border-left: 2px solid var(--mainAccent) !important;
  color: var(--mainAccent) !important;
}

.experience ul li {
  padding-bottom: 10px;
}
