section {
  height: 100vh !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.section-container {
  height: auto;
  margin: auto;
  position: relative;
  /* background-color: red; */
}

.section-title {
  font-family: Playfair Display;
  text-align: center;
  font-size: 32px;
  margin: 18px 0;
}

.section-title:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  /* width: 4.5%; */
  width: 30px;
  padding-top: 5px; /* This creates some space between the element and the border. */
  border-bottom: 3px solid #c94766; /* This creates the border. Replace black with whatever color you want. */
}

@media only screen and (max-width: 852px) {
  .section-container {
    width: 100%;
    padding: 0 5%;
  }

  .experience {
    margin: 16% 5% 0 5%;
    height: auto !important;
    /* padding: 5% 8% !important; */
  }
  .tab-content {
    padding-right: 15px;
  }

  .carousel-item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .custom-w-50 {
    width: 100% !important;
  }
  .project-flex-left {
    /* float: right !important; */
    padding: 12% !important;
    border-top-left-radius: 34px !important;
    border-top-right-radius: 34px !important;
    height: 200px !important;
  }
  .project-flex img {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    height: 200px !important;
  }
  .project-flex button {
    margin-top: 0% !important;
  }

  .icons {
    padding: 18px 50px !important;
  }
}

@media only screen and (max-width: 575px) {
  /* .experience {
    height: 525px !important;
  } */
  .experience .section-title {
    margin-top: 7% !important;
  }
  .experience {
    padding: 5%;
  }
  .tab-content {
    padding-top: 15px;
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

ul li {
  line-height: 22px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1rem;
}
