nav {
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 2.5em 3em;
  color: white;
  background-color: #5460cd;
  max-height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--darkAccent); */
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  /* position: relative; */
}

@media screen and (max-width: 973px) {
  /* nav span {
    display: block;
    height: 100px;
  } */

  .sections {
    position: absolute;
    top: 75px;
    left: 0;
    /* right: 250px; */
    background-color: #5460cd;
    height: 92vh;
    width: 100vw;
    border-top: 1px solid #fff;
    padding: 0 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .sections span {
    display: block;
    margin: 100px 5%;
    padding-bottom: 20px;
    /* margin-bottom: 5%; */
    text-align: center;
    color: var(--lightAccent);
    font-size: 20px;
  }

  .logo span {
    display: block;
    margin: 0 !important;
  }
  .resume-button {
    display: none;
  }
}

@media screen and (min-width: 973px) {
  .hamburger-toggle {
    display: none;
  }
}

nav span {
  font-size: 18px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease;
  transition-delay: 0.25s;
  margin: 1em;
  padding-bottom: 0.3em;
  margin-right: 2.75em;
}

nav span:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

nav span:hover i {
  color: gold;
}

nav span.activeClass i {
  color: gold;
}

nav span.activeClass {
  border-bottom-color: var(--lightAccent);
}

.logo span {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  cursor: pointer;
}

.logo span:hover {
  border: none !important;
  /* text-transform: lowercase;
  font-style: oblique; */
}

.logo span.activeClass {
  border: none !important;
}

.hamburger-toggle {
  /* display: block; */
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.hamburger-active {
  transform: translateX(0%);
}
